html {
    min-height: 100%;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.nav-bar {
    margin-top: 25px;
    margin-right: 50px;
    float: right;
}
.nav-bar a{
    text-align: none;
    color: black;
    padding: 5px 28px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-size: 20px;
}
.skills
{   
    margin-left: 33%;
    vertical-align: middle;
}
p{
    font-size: 20px;
}
.skills_data
{
    float:right
    position:absolute;
    top:28%;
    left 32%;
    margin :0 auto;
    width:450px;
    padding :1em;
    border-style: groove;
    border-color: black;
    border-radius: 1em;
    background-color: #deeeea;
    color: black;
}
